@font-face {
    font-family: Tinos;
    src: url('../fonts/static/Heebo-Regular.ttf');
  }

* {
    box-sizing: border-box;
    font-family: Tinos;
}


::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
	background: transparent;  /* Optional: just make scrollbar invisible */
}


body {
	background-image: url(../img/skyBG.jpg);
	background-size: cover;
	color: #333;
	font: 100% Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a{
	color: inherit;
	text-decoration: none;
}
